@import url(https://fonts.bunny.net/css?family=aclonica:400|akaya-kanadaka:400|poppins:400);

body {
  font-family: "Poppins", sans-serif !important;
}

.div-y {
  width: 1px;
  height: 100%;
  background-color: lightgray;
}

.div-x {
  width: 100%;
  height: 1px;
  background-color: lightgray;
}

.font-family-logo {
  font-family: "Akaya Kanadaka", display;
}

.link-breadcrumb-active{
  color: #4A5157 !important;
}
.no-decoration {
  a {
    text-decoration: none !important;
  }
}